body
{
	font-family: Lora, serif;
	padding: 0px;
	margin: 0px;
}

h1
{
	font-size: 22px;
	margin-bottom: 3px;
}

.clear
{
	clear: both;
}

.logo
{
	margin: 0px auto;
	margin-top: 45px;
	margin-bottom: 20px;
	padding: 15px 25px;
	width: 520px;
	border: 1px solid black;
	font-family: Alice, serif;
	font-size: 86px;
	text-align: center;
}

.logo .slogan
{
	font-size: 27px;
	text-align: right;
}

.searchbar
{
	position: relative;
	margin: 0px auto;
	padding: 8px;
	width: 850px;
	height: 36px;
	overflow: hidden;
	font-family: Lora, serif;
	font-size: 30px;
	border: 1px solid black;
	border-radius: 17px;
}

.searchbar input
{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 116px;
	right: 0px;
	font-family: Lora, serif;
	font-size: 30px;
	border: 0px;
	background-color: transparent;
}

.searchoptions
{
	margin-top: 15px;
	text-align: center;
}

.searchoptions label
{
	margin-right: 15px;
	margin-left: 2px;
	font-size: 21px;
}

.searchbutton
{
	margin-top: 25px;
	text-align: center;
}

.searchbutton button
{
	padding: 9px 24px;
	border: 2px solid black;
	border-radius: 10px;
	font-size: 24px;
	background-color: white;
}

.searchbutton button:hover
{
	background-color: #F0F0F0;
}

.copyright
{
	margin: 0px auto;
	margin-top: 20px;
	width: 750px;
	text-align: justify;
	font-size: 14px;
}

.metadata
{
	padding: 9px;
	border-top: 1px solid black;
}

.item:first-child .metadata
{
	border-top: none;
}

.metadata:hover
{
	background-color: #E3E3E3;
	cursor: pointer;
}

.names
{
	float: left;
	font-size: 19px;
}

.title
{
	font-weight: bold;
	margin-right: 10px;
}

.files
{
	float: right;
}

.files a
{
	margin-left: 4px;
	color: black;
}

.description
{
	display: none;
	padding: 10px;
	text-align: justify;
}

.results
{
	padding: 8px;
}

.header
{
	border-bottom: 1px solid black;
}

.header-logo
{
	float: left;
	margin: 10px;
	padding: 8px;
	font-family: Alice, serif;
	font-size: 75px;
}

.header-search
{
	float: right;
	margin: 16px 28px;
	text-align: right;
	max-width: 60%;
}

.header-search input.query
{
	width: 310px;
	border: 1px black solid;
}

.notes
{
	font-size: 14px;
}

.promo
{
	margin: 10px auto;
	padding: 9px;
	width: 500px;
	font-weight: bold;
	text-align: center;
	background-color: #F3F3F3;
	border: 1px solid black;
}

.thumb
{
	float: left;
	margin: 11px;
	margin-top: 4px;
	margin-bottom: 6px;
	padding: 2px;
	border: 1px solid black;
}

.links
{
	margin: 0px auto;
	margin-top: 15px;
	width: 500px;
	text-align: justify;
}
